{{ define "main" }}
<section id=""class="bg-whiteBg">
    <div class="top-hero-services p-0 md:pt-20 h-[500px] relative">
        <div class="px-10 py-16 bg-darkGreen opacity-90 w-full md:w-[70%] text-white space-y-4 absolute md:bottom-0 top-0 md:top-52">
            <h1 class="md:text-[4em] text-4xl font-merri md:space-y-12 md:leading-[58px]">{{ .Title }}</h1>
            <p class="text-base md:text-lg font-poppins">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi esse nemo minima veritatis, blanditiis, facere a, unde eum asperiores placeat ducimus voluptate recusandae explicabo ex. Quis unde, quasi qui exercitationem ex totam modi minima nulla voluptates sint expedita sit optio!</p>
        </div>
    </div>
</section>
<section class="container mx-auto">
    <div>
        <div class="container my-24 px-6 mx-auto">

            <section class="mb-32 text-gray-800 font-poppins">
          
              <h2 class="text-3xl md:text-[3em] font-bold mb-12 text-center">SERVICES</h2>
          
              <div class="grid lg:grid-cols-3 gap-6">
                <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg"
                  style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="light">
                  <img src="/img/two.jpg" class="w-full" />
                  <a href="#!">
                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                      style="background-color: rgba(0, 0, 0, 0.4)">
                      <div class="flex justify-start items-end h-full">
                        <div class="text-white m-6">
                          <h5 class="font-bold text-lg mb-3">Service A</h5>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
          
                <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
                  data-mdb-ripple-color="light">
                  <img src="/img/two.jpg" class="w-full" />
                  <a href="#!">
                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                      style="background-color: rgba(0, 0, 0, 0.4)">
                      <div class="flex justify-start items-end h-full">
                        <div class="text-white m-6">
                          <h5 class="font-bold text-lg mb-3">Service B</h5>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
          
                <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
                  data-mdb-ripple-color="light">
                  <img src="/img/two.jpg" class="w-full" />
                  <a href="#!">
                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                      style="background-color: rgba(0, 0, 0, 0.4)">
                      <div class="flex justify-start items-end h-full">
                        <div class="text-white m-6">
                          <h5 class="font-bold text-lg mb-3">Service C</h5>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
          
                <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
                  data-mdb-ripple-color="light">
                  <img src="/img/two.jpg" class="w-full" />
                  <a href="#!">
                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                      style="background-color: rgba(0, 0, 0, 0.4)">
                      <div class="flex justify-start items-end h-full">
                        <div class="text-white m-6">
                          <h5 class="font-bold text-lg mb-3">Service D</h5>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
          
                <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
                  data-mdb-ripple-color="light">
                  <img src="/img/two.jpg" class="w-full" />
                  <a href="#!">
                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                      style="background-color: rgba(0, 0, 0, 0.4)">
                      <div class="flex justify-start items-end h-full">
                        <div class="text-white m-6">
                          <h5 class="font-bold text-lg mb-3">Service E</h5>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
          
                <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
                  data-mdb-ripple-color="light">
                  <img src="/img/two.jpg" class="w-full" />
                  <a href="#!">
                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                      style="background-color: rgba(0, 0, 0, 0.4)">
                      <div class="flex justify-start items-end h-full">
                        <div class="text-white m-6">
                          <h5 class="font-bold text-lg mb-3">Service F</h5>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
          
            </section>
          
          </div>
    </div>
</section>

{{ end }}