{{ define "main" }}
<section id=""class="bg-whiteBg">
    <div class="top-hero-about p-0 md:pt-20 h-[500px] relative">
        <div class="px-10 py-16 bg-darkGreen opacity-90 w-full md:w-[70%] text-white space-y-4 absolute md:bottom-0 top-0 md:top-52">
            <h1 class="md:text-[4em] text-4xl font-merri md:space-y-12 md:leading-[58px]">{{ .Title }}</h1>
            <p class="text-base md:text-lg font-poppins">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi esse nemo minima veritatis, blanditiis, facere a, unde eum asperiores placeat ducimus voluptate recusandae explicabo ex. Quis unde, quasi qui exercitationem ex totam modi minima nulla voluptates sint expedita sit optio!</p>
        </div>
    </div>
</section>
<section class="md:px-16 md:py-8 px-8 py-8">
    <div class="flex flex-col-reverse md:flex-row gap-x-4 gap-y-4">
        <div class="w-full md:w-1/2">
            <img src="img/two.jpg" alt="">
        </div>
        <div class="w-full md:w-1/2 flex flex-col justify-center space-y-8 px-0 md:px-8">
            <h1 class="text-darkGreen font-merri text-4xl md:text-[3em]">Our Story</h1>
            <p class="md:text-xl text-base">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, quibusdam? Aut aliquam animi illo, non corrupti omnis dolor deleniti! Repellendus?</p>
        </div>
    </div>
    <div class="mt-6 md:mt-20">
        <iframe src="https://www.youtube.com/embed/TMl74uLjOSc?controls=0&amp;start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="w-full h-auto md:h-[600px]"></iframe>
    </div>
</section>
{{ end }}