<div id="nav-border" class="font-poppins">
    <nav id="nav" class=" flex justify-between container mx-auto p-10 z-50">
        <a href="/">
            <img src="https://github.com/Coin-Collection-Agency/CCA/blob/main/static/img/logo.png" alt="">
        </a>
        <div class="gap-x-8 md:flex hidden justify-center items-center">
            {{ range .Site.Menus.main }}
            <a class="hover:border-b-[3px] transition-all border-secondaryGreen font-semibold" href="{{ .URL }}">
                {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
            </a>
            {{ end }}
        </div>
        <div class="md:hidden block z-[100] absolute right-2 ">
            <span class="material-symbols-outlined " id="menuIcon">
                <div class="" id="menuBtn">menu</div>
            </span>
            <span class="material-symbols-outlined">
                <div class="hidden" id="closeBtn">close</div>
            </span>
        </div>
        <div class="block md:hidden">
            <div class="hidden h-80 flex-col inset-0 absolute justify-center px-4 bg-whiteBg py-6 z-50" id="menu">
                {{ range .Site.Menus.main }}
                <a class="border-b-2 border-b-darkGreen hover:border-b-[3px] transition-all hover:border-secondaryGreen borde" href="{{ .URL }}">
                    {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                    {{ end }}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>
                {{ end }}
            </div>
        </div>
    </nav>
</div>
