{{ define "main" }}
<section id=""class="bg-whiteBg">
    <div class="top-hero-contact p-0 md:pt-20 h-[500px] relative">
        <div class="px-10 py-16 bg-darkGreen opacity-90 w-full md:w-[70%] text-white space-y-6 absolute md:bottom-0 top-0 md:top-52">
            <h1 class="md:text-[4em] text-4xl font-merri md:space-y-12 md:leading-[58px]">{{ .Title }}</h1>
            <p class="text-base md:text-lg font-poppins">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat commodi odio quia ex aperiam illum aliquid laborum! Maxime, libero culpa cum eos officia, quae quibusdam placeat eaque cupiditate cumque rerum?</p>
        </div>
    </div>
</section>

<div class="px-6 py-16 bg-darkGreen">

  <section class=" text-whiteBg">
    <div class="flex flex-wrap">
      <div class="grow-0 shrink-0 basis-auto mb-6 md:mb-0 w-full md:w-6/12 px-3 lg:px-6">
        <h2 class="text-3xl font-bold mb-6 font-merri">Contact us</h2>
        <p class="text-whiteBg mb-6 font-poppins">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, modi accusantium ipsum corporis quia asperiores
          dolorem nisi corrupti eveniet dolores ad maiores repellendus enim
          autem omnis fugiat perspiciatis? Ad, veritatis.
        </p>
        <p class="text-whiteBg text-xl mb-2 font-poppins">New York, 94126, United States</p>
        <p class="text-whiteBg text-xl mb-2 font-poppins">+ 01 234 567 89</p>
        <p class="text-whiteBg text-xl mb-2 font-poppins">info@gmail.com</p>
      </div>
      <div class="grow-0 shrink-0 basis-auto mb-12 md:mb-0 w-full md:w-6/12 px-3 lg:px-6 font-poppins">
        <form>
          <div class="mb-5">
            <label
              for="name"
              class="mb-3 block text-base font-medium text-whiteBg"
            >
              Full Name
            </label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Full Name"
              class="w-full rounded-md border border-primaryBlack bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-secondaryGreen focus:shadow-md"
            />
          </div>
          <div class="mb-5">
            <label
              for="email"
              class="mb-3 block text-base font-medium text-whiteBg"
            >
              Email Address
            </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="example@domain.com"
              class="w-full rounded-md border border-primaryBlack bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-secondaryGreen focus:shadow-md"
            />
          </div>
          <div class="mb-5">
            <label
              for="subject"
              class="mb-3 block text-base font-medium text-whiteBg"
            >
              Subject
            </label>
            <input
              type="text"
              name="subject"
              id="subject"
              placeholder="Enter your subject"
              class="w-full rounded-md border border-primaryBlack bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-secondaryGreen focus:shadow-md"
            />
          </div>
          <div class="mb-5">
            <label for="message" class="mb-3 block text-base font-medium text-whiteBg">Message</label>
            <textarea
              rows="4"
              name="message"
              id="message"
              placeholder="Type your message"
              class="w-full resize-none rounded-md border border-primaryBlack bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-secondaryGreen focus:shadow-md"></textarea>
          </div>
          
          <div>
            <button class="hover:shadow-form rounded-md bg-lightParrot py-3 px-8 text-base font-semibold text-primaryBlack outline-none hover:bg-secondaryGreen hover:text-whiteBg transition-all">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

</div>
{{ end }}